body {
    background-color: white;
    font-family: Arial, Verdana, Helvetica;
}

h1 {
    text-align: center;
}

a {
    display: block;
    font-size: 21px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: solid lightblue 5px;
}
